<div>
  <form action="">
    <div class="input-group border p-3 rounded mb-3 align-items-center">
      <label class="form-label me-3" for="name">Email </label
      ><input class="form-control rounded" type="text" id="name" name="name" />
    </div>
    <div class="input-group border p-3 rounded mb-3 align-items-center">
      <label class="form-label me-3" for="name">Email </label
      ><input class="form-control rounded" type="text" id="name" name="name" />
    </div>
    <div class="input-group border p-3 rounded mb-3 align-items-center">
      <label class="form-label me-3" for="name">Email </label
      ><input class="form-control rounded" type="text" id="name" name="name" />
    </div>
  </form>
</div>
